body{
    background-color: #f9f9f9;
}
a{
    text-decoration: none;
}
.call{
    background-image: url(blue.png);
    height: 50vh;
}
li{
    list-style: none;
}
li>a{
    font-size: small;
}
.lives{
    font-size: small;
}
